<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <p>Estas Buscando: <strong>{{query}}</strong> </p>
    {% if libros%}
        <p>Libros Encontrados: {{libros|length}} libro{{libros|pluralize}}</p>
        <ul>
            {% for libro  in libros%}
                <li>{{libro.titulo}}</li>
            {% endfor %}  
        </ul>
    {% else %}
        <p>Ningún libro coincide con el criterio de búsqueda.</p>
    {% endif %}
</body>
</html>